body{background: aqua;}
.container{max-width: 1200px; margin: auto; background: #47e8ee;}
.myName{padding: 20px;text-align: left;}
.header{background: #000; color: #fff;display: flex; justify-content: center; padding: 15px 0; margin: 0 12px;}
.header .input{padding: 10px 0; width: 300px; text-align: center;}
.header .btn{padding: 10px; width: 50px;cursor: pointer;position: relative;}
.header i{position: absolute;color: #000;right: 15px; top: 12px;}
.carts{display: flex; flex-flow: row wrap; justify-content: center;} 
.cart{width: 280px; height: 280px; margin: 8px;border: 1px solid #000;}
.cart button{width: 100%; padding: 5px 0; cursor: pointer; background-color: #28a745;;
    border: none;cursor: pointer;box-shadow: inset 0 0 0 0 #c70909; transition: ease 0.8s;outline: none;
    color: #fff;
}
.cart button:hover{box-shadow: inset 300px 0 0 0 #c70909;}
.cart img{width: 100%; height: 90%;}
.cart input{width: 100%; padding: 5px 0;}


@media screen and (max-width:980px) {
    .cart {width: 346px}    
}

@media screen and (max-width:767px) {

    .cart {width: 295px;}
}

@media screen and (max-width:459px) {

    .cart {width: 320px;}
}
